
  body {
	opacity: 1;
	background: repeating-linear-gradient( -45deg, #040413, #040423 10px, #051223 10px, #051223 20px );
  }
  

  .main-container {
	color: rgb(34, 70, 101);
	background: linear-gradient(to bottom right, #aee68a 0%, #46cb9e 100%);
	margin: auto;
	align-items: center;
	width: 80%;
	height: 100vh;
	position: relative;
	z-index: -1;
	padding-top: 10em;
  }

/* =============== navbar ======================= */ 

.navibar {
	background-color: #0c1c3e;
	padding: 1.5em;
	display: flex;
	justify-content: center;
	opacity: 0.9;
	box-shadow: 0px 0px 20px #0c1c3e;
	position: fixed;
	width: 100%;
	z-index: 1;
} 

.navibar a {
	color:#FFCC00;
	text-decoration: bold;
	margin: 0.25em;
	padding: 0.5em 2em;
	font-size: 1.5em;
	border: 1px solid #0c1c3e;
	border-radius: 30px;
}

.navibar a:hover {
	color:rgb(146, 172, 192);
	border: 1px solid rgb(146, 172, 192);
	border-radius: 30px;
	transition: all .3s ease-in-out;
}

.navibar a.active {
	border: 1px solid #FFCC00;
	box-shadow: 0px 0px 20px #071023;
}

.navibar a:link, navibar:visited {
	text-decoration: none;
	
}

.start-img {
	display:flex;
	width: 70%;
	align-items: center;
	margin: auto;
	justify-content: center;
}

.text-box {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 50%;
	margin:auto;
	align-items: center;
}

.text-box > h1 {
	margin: 0;
}

/* .aside-left {
	grid-area: aside;
	background-color: white;
	width: 20%;
	height: 100%;
	padding: 2em;
} */