
  body {
	opacity: 1;
	background: repeating-linear-gradient( -45deg, #040413, #040423 10px, #051223 10px, #051223 20px );
  }
  

  .start-page {
	color: rgb(34, 70, 101);
	background-color: rgb(106, 179, 160);
	margin: auto;
	align-items: center;
	width: 70%;
	height: 100vh;
	position: relative;
	z-index: -1;
  }

/* =============== navbar ======================= */ 

.navibar {
	background-color: #0c1c3e;
	padding: 2em;
	display: flex;
	justify-content: center;
	opacity: 0.9;
	box-shadow: 0px 0px 20px #0c1c3e;
} 

.navibar a {
	color:#74afcb;
	text-decoration: bold;
	margin: 0.25em;
	padding: 0.5em 2em;
	font-size: 1.5em;
}

.navibar a:hover {
	color:#FFCC00;
}

.navibar a.active {
	border-bottom: 1px solid #FFCC00;
}

.navibar a:link, navibar:visited {
	text-decoration: none;
	
}

.start-img {
	display:flex;
	width: 50%;
	height: 50%;
	align-items: center;
	margin: auto;
	justify-content: center;
}

.text-box {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 50%;
	margin:auto;
	align-items: center;
}

/* .aside-left {
	grid-area: aside;
	background-color: white;
	width: 20%;
	height: 100%;
	padding: 2em;
} */